
:root{
    --purple500: #281154;
    --purple300: #270082;
    --purple400: #1b0058;
    --red600:  #dc0000;
    --body: #f9f6ff;
    --max-width: 1200px

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */

}
html,body{
    font-weight:300;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    /* to make scroll smooth */
    scroll-behavior: smooth;
}

/* when get to a section with the help of nav then the section is hidding under the nav bar b/c it is sticky position, so we give margin to the scroll */
section{
    scroll-margin: 50px;
}


.header{
    background-color: var(--purple300);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px ; 
    position: sticky;
    top: 0;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 50;


}
.nav_button{
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav_button a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid transparent ;
    transition: border 500ms ease;

}

.nav_button a:hover{
    border-bottom: 1px solid ;
    transition: border 500ms ease;

}

.hero_section{
    background-image: url(images/hero_image.png);
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    border: 4px solid red;
    display: flex;

}
.hero_section .container{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 70px;

}

/* middle section */

.middle_section{
    background-color: var(--purple400);
    color: white;
    min-height: 800px;
    
}
.middle_section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
    gap: 30px;
    position: relative;

}
.middle_section .container .music{
    display: flex;
    
}
.middle_section .container .free_trial{
    padding: 20px;
    background-color: var(--red600);
    color: white;
    transition: all 500ms ease;
}
.middle_section .container .free_trial:hover{
    opacity: 0.7;
    transform: scale(1.1);

}
.middle_section .container .ipad_iphone{
    position: absolute;
    top: 500px;
    
}
.middle_section .container .ipad_iphone img{
    max-width: 600px;

}
.middle_section2{
    min-height: 600px;

}
.middle_section2 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 70px;
    margin-top: 160px;


}
.middle_section2 .container .laptop_image img{
    max-height: 300px;
}
.middle_section2 .container .read_more{
    padding: 20px;
    background-color: var(--purple400);
    color: white;
    transition: all 500ms ease;
}
.middle_section2 .container .read_more:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

/* video section */

.video_section{
    background-image:url(images/video.png);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    min-height: 500px;


}
.video_section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: white;
    margin-top: 160px;
    padding: 70px;


}


/* gift section */

.gift_section{
    min-height: 400px;
    padding: 70px 100px;

}
.gift_section .container{
    display: flex;

}
.gift_section .container .gift_card_content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.gift_card_content .redeem{
    padding: 20px;
    background-color: var(--purple400);
    color: white;
}

/* footer section */
.footer{
    background-color: var(--purple300);
    color: white;
}
.footer .upper_footer{
    display: flex;
    gap: 134px;
    padding: 85px 100px;

}
.upper_footer h2{

    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
.footer .lower_footer{
    text-align: center;
}