*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: 
    radial-gradient(
      farthest-side at bottom left,
      rgba(14, 16, 32, 0.5), 
      #230e36
    ),
    radial-gradient(
      farthest-corner at bottom right,
      rgba(14, 41, 15, 0.5), 
      transparent 900px
    );
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #e79a9a;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.719));
}

.todo-app h2{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem;
}
.todo-app h2 img{
    width: 50px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;      
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #FF5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}